body,h1,h2,p html{
    margin: 0 !important;
    padding: 0 !important;
}
.carouselExampleFade{
    margin: 0 !important;
    padding: 0 !important;
}
.brand-img{
    display: flex;
    justify-content: center;
}

.brand-name{
    display: flex;
    justify-content: center;
    padding: 10px 0px 0px 0px;
}
.brand-namee{
    display: flex;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}

.header{
    padding: 50px;
}

.navbar-nav{
    font-size: 20px;
    text-transform: uppercase;
}
.bg-blue{
    background: linear-gradient(to right, #002080,#4d79ff );
}

.foot > div > p{
    color: white !important;
}

footer{
    padding: 20px;
}
.text-gray{
    color: #d9d9d9;
}
.text-reset{
    text-decoration: none !important;
}

#map {
    height: 100%;
    width: 100%;
}

.back {
    /* background-image: linear-gradient(to right, red, yellow); */
    justify-content: center;
    display: flex;
    padding: 6%;
}

.items {
    padding: 10px;
    /* background-color: green; */
    color: white;
    text-align: center;
}


.loader {
    text-align: center;
    border: 11px solid #f3f3f3;
    border-radius: 50%;
    border-top: 11px solid #3498db;
    width: 75px;
    height: 75px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
    /* padding-bottom: 10px; */
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1550px) {
    .side {
        /* background-color: green; */
        position: relative;
        bottom: 33px;
    }
}
